@model CrapoDeeds.Models.Clients

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientHQAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientHQAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientWebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientWebAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.clientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
