@model CrapoDeeds.Models.Cases

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.clientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.clientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.caseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
